.iconsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.socialsIcon {
  width: 36px;
  height: 36px;
  color: black;

  &:hover {
    transform: scale(1.1);
    outline: none;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border: transparent;
  border-radius: 50%;
  background-color: transparent;
}

.linkWrapper:nth-child(1) .link > .socialsIcon:hover {
  color: #af01a4;
  box-shadow: 0 4px 12px rgba(160, 91, 192, 0.4);
}

.linkWrapper:nth-child(2) .link > .socialsIcon:hover {
  color: #1e90ff;
  box-shadow: 0 4px 12px rgba(30, 144, 255, 0.4);
}

.linkWrapper:nth-child(3) .link > .socialsIcon:hover {
  color: #129e25;
  box-shadow: 0 4px 12px rgba(18, 170, 23, 0.4);
}

.linkWrapper:nth-child(4) .link > .socialsIcon:hover {
  color: #d30808;
  box-shadow: 0 4px 12px #f33838e3;
}

@media screen and (min-width: 768px) {
  .socialsIcon {
    width: 40px;
    height: 40px;
  }
}
